{% extends "base.html" %}

{% block head %}
    <title>Attendance System</title>
    <script>
        function setFormAction(action) {
            // Set the form's action based on the button clicked
            document.getElementById("actionForm").action = action;
        }
    </script>
{% endblock %}

{% block body %}

<h1>Welcome to the Attendance System</h1>

    <!-- Single form for both actions -->
    <form id="actionForm" method="get">
        <button type="submit" onclick="setFormAction('/attendance_form')">Take Attendance</button>
        <button type="submit" onclick="setFormAction('/capture')">Add Student</button>
    </form>

{% endblock %}