{% extends "base.html" %}

{% block title %}Attendance System{% endblock %}

{% block head %}
    <script>
        function setFormAction(action) {
            // Set the form's action based on the button clicked
            document.getElementById("actionForm").action = action;
        }
    </script>
{% endblock %}

{% block content %}

<div class="centered-form">
    <div class="text-center">
        <h1 class="mb-4">Welcome to the Attendance System</h1>

        <!-- Single form for both actions -->
        <form id="actionForm" method="get">
            <button type="submit" onclick="setFormAction('/attendance_form')" class="btn btn-primary btn-lg mb-2">Take Attendance</button>
            <button type="submit" onclick="setFormAction('/capture')" class="btn btn-secondary btn-lg">Add Student</button>
        </form>
    </div>
</div>

{% endblock %}
